[Unit]
Description=camera-streamer
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/camera-streamer-control start
ExecStop=/usr/bin/camera-streamer-control stop
ExecReload=/usr/bin/camera-streamer-control restart
RemainAfterExit=yes
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
